$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;
$extra-4k: 2560px;

$text-color: lighten(black, 45%);
$button-background: rgb(79 70 229);
$border-separator: 1px solid lighten(black,90%)